body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
    display:flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.container {
    margin-top: 90px;
    background-color: cadetblue;
    padding: 50px;
    border-radius: 20px;
}

tr td {
    color:rgb(0, 0, 0)
}

fieldset {
    font-size: medium;
    font-weight: 300;
    border-radius: 20px;
}

legend {
    font-size: 30px;
}